
@{

    Layout = null;
}
<html>
<head>
    <title>Index</title>
</head>
<body>
    <link href="~/css/Sheet.css" rel="stylesheet" />
    <h1>Index view  WelCome to BookStore</h1>
    <img src="~/images/pexels-mali-maeder-101667.jpg" alt="logo" class="logo" />
    <img src="~/MyStaticFiles/dummy.jpg" alt="dummy" class="logo" />
</body>
</html>



