################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WebgentleBookStore/WebgentleBookStore/obj
/WebgentleBookStore/WebgentleBookStore/bin/Debug/netcoreapp3.1
/WebgentleBookStore/WebgentleBookStore/wwwroot/lib
